.wrapper {
  padding: 20px;
  display: flex;
  /* justify-content: center; */
  background: linear-gradient(to right, #c94b4b, #4b134f);
}

.players {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  align-items: center;
}

.backBtn {
  margin: 10px;
}

.btn {
  padding: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
}