.wrapper {
  /* background: red; */
  padding: 30px;
  display: flex;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.board {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: grid;
  height: 300px;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  /* width: 10em; */
}

.item {
  height: 80px;
  width: 80px;
  /* padding: 40px !important; */
  aspect-ratio: 1/ 1;
  background: #e2e2ee;
  display: flex;
  /* aspect-ration: 1 / 1; */
}
